<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
<h2>Mullai Enterprises</h2>
<h3>Explore What we Have</h3>
    <div class=coloumn>
        <div class="textover">
             <img src= "{% static 'icon.png' %}" width="50%">
             <h3 class="text"> Special Offer </h3>
        </div>
</div>
{% endblock %}
</body>
</html>