<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
<h1>Mullai Enterprises</h1>
<h3>Explore What we Have</h3>
{% static "pics" as baseurl %}
{% for product1 in product %}
    <div class=coloumn>
        <div class="textover">
             <img src= "{{product1.img.url}}" width="50%">
             {% if product1.offer %}
             <h3 class="text"> Special Offer </h3>
             {% endif %}
        </div>
        <p> {{product1.name}} </p>
        <p> Description :{{product1.desc}}</p> 
        <p> Price is Rupees{{product1.price}}</p> 
    </div>
{% endfor %}
{% endblock %}
</body>
</html>